.leftSide #specialObjectBar {
    background-color: var(--main-background-color);
    height: 100%;
    padding-top:5px;
}

.leftSide #specialObjectBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.leftSide #specialObjectBar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.leftSide #specialObjectBar li.enpty {
    opacity: 0.3;
}

.leftSide #specialObjectBar li img {
    height: 40px;
}

.leftSide #specialObjectBar li span {
    position: relative;
    padding-left: 5px;
    font-size: 30px;
    /* top:10px; */
}